<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!--開啟註解模式-->
    <!--<context:annotation-config/>-->
    <!--開啟掃苗-->
    <context:component-scan base-package="com.cyl.spring"/>
    <!--<aop:aspectj-autoproxy/>-->
    <!--配置DBCP-->
    <bean id="datasourceId" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/1803_hibernate"/>
        <property name="user" value="root"/>
        <property name="password" value="123"/>
    </bean>
    配置JdbcTemplate
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="datasourceId"/>
    </bean>

    <!--1.配置事務管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasourceId"/>
    </bean>
    

    <!--2.配置事務策略-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="list*" read-only="true"/>
            <tx:method name=""/>
        </tx:attributes>
    </tx:advice>
    
    <!--3.配置事務控制的範圍-->
    <aop:config>
        <aop:pointcut id="fooService" expression="execution(* com.cyl.spring.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="fooService"/>
    </aop:config>
</beans>